In [1]:
# importing libraries
import  pandas as pd
import numpy as np
import seaborn as sns
import scipy as sp
import matplotlib.pyplot as plt

In [28]:
# importing data
data = pd.read_csv('Sales_add.csv')

In [29]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [5]:
data.isna().sum() #Checking for null values

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

There are no null values in the dataset

In [7]:
data.shape

(22, 5)

# To check whether there is any increase in sales after stepping into digital marketing

In [27]:
from scipy import stats
# Data statistics summary
data[['Sales_before_digital_add(in $)','Sales_After_digital_add(in $)']].describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [31]:
median_before_ad = data['Sales_before_digital_add(in $)'].median()
print('The median of sales before the adverstisement is,', median_before_ad)
median_after_ad = data['Sales_After_digital_add(in $)'].median()
print('The median of sales after the adverstisement is,',median_after_ad)

The median of sales before the adverstisement is, 147444.0
The median of sales after the adverstisement is, 229986.5

In [32]:
# Inorder to check whether there is any increase in sales we need to do an independent T-test.
    # Hypothesis:
        #     Null hyp (H0): The  sales before and after stepping into digital marketing is the same.
        #     Alt. hyp (H1): There is an increase in sales after stepping into digital marketing'
 # We have set our significance level to 5%.

In [33]:
import scipy.stats as stats
stats.ttest_ind(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'])

Ttest_indResult(statistic=-12.995084451110877, pvalue=2.614368006904645e-16)

In [34]:
ttest,pval = stats.ttest_ind(data['Sales_before_digital_add(in $)'], data['Sales_After_digital_add(in $)'])
print(pval)
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

2.614368006904645e-16
reject null hypothesis

Sine the p-value < 0.05, we can reject the null hypothesis and accept the alternate hypothesis.
ie, There is an increase in sales after stepping into digital marketing

# Check whether there is any dependency between the features “Region” and “Manager”.

In [35]:
#Inorder to check whether two categorical variables are dependent or not we use a chi-squared test.
#     Null hyp (H0): There is no dependence between 'Region' and 'Manager'.
#     Alt  hyp (Ha): There is  dependence between 'Region' and 'Manager'.
# We have set our significance level to 5%.

In [36]:
contingency_data = pd.crosstab(data['Region'], data['Manager'],margins = False)

In [37]:
contingency_data

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [38]:
from scipy.stats import chi2_contingency

In [40]:
stat, p, dof, expected = chi2_contingency(contingency_data)
print('stat=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
    print('independent categories')
else:
    print('dependent categories')

stat=3.051, p=0.549
independent categories

Since the p-value > 0.05, we accept our null hypothesis.
ie, There is no dependence between 'Region' and 'Manager'.